In [1]:
import requests
import json
import hashlib
import pandas as pd
import datetime
import string
from pprint import pprint as pp
import time
from pandas import json_normalize
import os

In [2]:
request_url = 'http://gateway.marvel.com/v1/public/characters'
public_key= '2c560d4fa00f2af1802aac30fc3fab93'
private_key= '156a3abb9272f2bf9d301958f307f961f7310c6e'
ts = datetime.datetime.now()
limit = 100

In [3]:
def hash_params():
    hash_md5 = hashlib.md5()
    hash_md5.update(f'{ts}{private_key}{public_key}'.encode('utf-8'))
    hash_params = hash_md5.hexdigest() 
    return hash_params
appended_data=[]  
for i in string.ascii_uppercase:  
    nameStartsWith = i
    params ={'ts':ts,'apikey':public_key,'hash':hash_params(),
          'nameStartsWith':nameStartsWith,'limit':limit}
    response = requests.get(request_url,params=params)
    data_1 =response.json()
    df_1 = pd.json_normalize(data_1,record_path=['data','results'])
    appended_data.append(df_1)
df=pd.concat(appended_data)

In [7]:
df.head()
df.shape
df_new=df[['name','id','comics.available','stories.available',
                       'events.available','series.available']]
df_new.head()

,name,id,comics.available,stories.available,events.available,series.available
0,A-Bomb (HAS),1017100,4,7,0,2
1,A.I.M.,1009144,51,54,0,34
2,Aaron Stack,1010699,14,27,0,3
3,Abomination (Emil Blonsky),1009146,55,65,1,27
4,Abomination (Ultimate),1016823,2,3,0,2